<h1 class="page-title">{{meta.modelName}} - {{data.name}}</h1>
<form {{action submit on='submit'}}>
  <label for="dogName">
    <h4>Dog Name</h4>
    {{one-way-input changeset.name update=(action (ds-mut changeset "name")) name="dogName"}}
  </label>

  <button type="submit">Submit</button>
</form>
